pandas>=2.0.0
numpy>=1.23.5
scikit-learn
streamlit>=1.38.0
uvicorn>=0.30.6
torch>=2.0.0
transformers>=4.45.2
tokenizers>=0.20.1
sentencepiece

langdetect
dill>=0.3.9
fastapi>=0.112.1
joblib>=1.4.2
matplotlib>=3.9.2
matplotlib-inline>=0.1.6
nltk>=3.8
accelerate
